.filters {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.filters > *:not(:last-child) {
  margin-bottom: 1.2rem;
}

.filters.flex {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.filters.flex > *:not(:last-child) {
  margin-right: 3vmax;
}

.filter-btn {
  display: block;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  color: rgba(60, 60, 60, 0.5);
}

.filter-total {
  font-size: 1.4rem;
  color: rgba(60, 60, 60, 0.5);
  font-weight: 600;
}

.filter.active.not-all .filter-total,
.filter.active.not-all .filter-btn,
.filter:hover .filter-total,
.filter:hover .filter-btn {
  font-weight: 600;
  text-decoration: underline;
  color: rgba(60, 60, 60, 1);
}

.filter.active .filter-total,
.filter.active .filter-btn {
  font-weight: 600;
  color: rgba(60, 60, 60, 1);
}

.filter-btn:hover,
.filter-btn.active {
  font-weight: 600;
  color: rgba(60, 60, 60, 1);
}
