.hero {
  display: none;
}

.hero-heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

.history-link {
  font-size: 1.3rem;
  color: rgba(60, 60, 60, 0.5);
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
}

.history-link:hover,
.history-link.active {
  color: var(--primary-color);
}

.history-link-container,
.hero-history {
  display: flex;
  align-items: flex-end;
}

.history-icon {
  color: rgba(60, 60, 60, 0.5);
  height: 2rem;
  width: 2rem;
  align-self: flex-start;
}

.mobileHero {
  width: 100%;
  padding: 2vmax;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  grid-template-areas:
    "btn btn"
    "heading selector";
  align-items: flex-start;

  position: relative;
}

.mobileHero-heading-lg {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.mobileHero-heading-sm {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(60, 60, 60, 0.6);
}

.mobileHero > *:nth-child(1) {
  grid-area: btn;
}
.mobileHero > *:nth-child(2) {
  grid-area: heading;
}
.mobileHero > *:nth-child(3) {
  grid-area: selector;
}

@media only screen and (width >= 48rem) {
  .hero {
    display: block;
    width: 100%;
    padding: 2rem 0;
    padding-left: 6vmax;
  }

  .hero.withBg {
    height: 25rem;
    background: url("../public/mini-banner-img.jpg"), var(--natural-color);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    padding-left: 14vmax;
    flex-direction: column;
    justify-content: center;
  }

  .hero-heading {
    font-size: 2.5rem;
  }

  .mobileHero {
    display: none;
  }
}

@media only screen and (width >= 64rem) {
  .hero {
    padding-left: 8vmax;
  }
}
