.product {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20rem auto;
  /* grid-row-gap: 1rem; */
  position: relative;
  text-decoration: none;
  /* width: 20rem; */
}

.product.list {
  grid-template-columns: 20rem 25rem;
  grid-template-rows: 18rem;
  grid-column-gap: 2rem;
}

.product-body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.product.list .product-body {
}

.product:hover {
  background: var(--natural-color);
}

.product-discount {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--secondary-color);
  padding: 1rem 0.5rem;
  font-size: 1.4rem;
  color: var(--white-color);
}

.product-discount.dash {
  text-decoration: line-through;
}

.product-img-box {
  display: block;
  position: relative;
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.product-img {
  width: 100%;
  height: 100%;
}

.product-name {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  margin-left: 40%;
}

.product-price {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  margin-left: 40%;
}

.product.list .product-name,
.product.list .product-price {
  margin-left: 0;
}

.product-price .dash {
  margin-left: 1rem;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.55);
}
