:root {
  --primary-color: #3c3c3c;
  --secondary-color: #ff9344;
  --natural-color: #ededef;
  --white-color: #fff;
  --bp-xl: 90rem;
  --bp-lg: 64rem;
  --bp-md: 48rem;
  --bp-sm: 26.5rem;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* try */
  height: stretch;
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
  width: 0;
}

/* buttons */
.btn {
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  color: var(--white-color);
  min-width: 16rem;
  text-align: center;
  padding: 1rem 0;
}

.btn.primary-btn {
  background: var(--primary-color);
}

/* typography */
.primary-heading {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 700;
}

.lead {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary-color);
}

@media only screen and (width > 26.5rem) {
  .primary-heading {
    font-size: 3rem;
  }
}

@media only screen and (width > 48rem) {
  .primary-heading {
    font-size: 3.5rem;
  }
}

@media only screen and (width > 64rem) {
  .primary-heading {
    font-size: 4.5rem;
  }
}
