.header {
  height: calc(100vh - 6rem);
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
}

.header__img-section {
  height: 100%;
  width: 100%;
  background: url("../public/sm-banner.jpg"), var(--natural-color);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.header-logo {
  margin-top: 3rem;
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--primary-color);
}

.header__text-section {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.header__text-section > *:not(:last-child) {
  margin-bottom: 1rem;
}

.header__text-section > *:nth-child(2) {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}
.header__text-section > *:nth-child(3) {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 70%;
}

@media only screen and (width > 48rem) {
  .header__img-section {
    background: url("../public/md-banner.jpg"), var(--natural-color);
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .header {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    position: relative;
  }

  .header__text-section {
    position: absolute;
    top: 35%;
    left: 0;
    height: auto;
    padding-left: 6vmax;
  }

  .header__text-section > *:nth-child(2) {
    margin-bottom: 5rem;
  }

  .header__text-section > *:nth-child(3) {
    width: 18rem;
    margin: 0;
  }

  .header-logo {
    display: none;
  }
}

@media only screen and (width >= 64rem) {
  .header__img-section {
    background: url("../public/banner.jpg"), var(--natural-color);
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .header__text-section {
    padding-left: 8vmax;
  }
}
